<nav class="navBar">
    <div class="navBar-Logo">Deliveco</div>



    <div class="navBar-menue">

        <input type="checkbox" id="toggler">
        <label class="menue" for="toggler">
          <svg viewbox="0 0 100 80" width="40" height="40">
            <rect width="100" height="7"></rect>
            <rect y="10" width="100" height="7"></rect>
            <rect y="20" width="100" height="7"></rect>
          </svg>
        </label>



        <ul class="navBar-nav">
            <li class="nav-item">
                <a href="" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Login</a>
            </li>

        </ul>
    </div>
</nav>