<nav class="navBar">
    <div class="navBar-Logo">Deliveco</div>



    <div class="navBar-menue">

        <input type="checkbox" id="toggler">
        <label class="menue" for="toggler">MENUE</label>



        <ul class="navBar-nav">
            <li class="nav-item">
                <a href="" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Login</a>
            </li>

        </ul>
    </div>
</nav>